{% extends "base.html" %}

{% import 'bootstrap5/form.html' as wtf %}


{% block app_content %}
             
    <div class='col-md-12'>  
        <h1>{{header|safe}}</h1>        
        <hr>         
       
        <label for="animal_table" id="animal-table-lbl">Registered animals in the zoo</label> 
        <div id="animal_table" class="hot handsontable htRowHeaders htColumnHeaders" style="height: auto; overflow: auto; width: auto;" ></div>
        <br>
        
        <br>
        <div id="cage-tbl-container">
            <label for="cage_table" id="cage-table-lbl">Available cages for selected breed</label> 
            <div id="cage_table" class="hot handsontable htRowHeaders htColumnHeaders" style="height: auto; overflow: auto; width: auto;" ></div>
        </div>
        <br>
        <hr>
        <br>
        <div id="form-container">            
            {{ wtf.render_form(form) }}
        </div>
        <input class="btn  btn-primary w-100" type="submit" value="Update" id="update-animal-btn" disabled="true"  onclick="submit()" > 
        <br>
        <br>
        
    
    </div> 

    
{% endblock %}
{% block user_script %}
    <script  src="{{ url_for('static', filename='js/table.js') }}"></script>
    <script>
        const formDiv = document.getElementById('form-container')
        formDiv.style.display = 'none'
        const updateBtn = document.getElementById('update-animal-btn')
        updateBtn.disabled = true       
        const cgTblDiv = document.getElementById('cage-tbl-container')
        cgTblDiv.style.display = 'none'
        const animalName = document.getElementById('name')        
        
        allAnimals()

        
        async function handleAnimalClick(coordinates){             
            speciesArr = Array.from(species)           
            const selectedAnimal = allAnimalData
                .find(
                    x => x.personal_id == animalTable.getCell(coordinates.row, 0)
                    .innerText
                )  
            
            destroyCageTable()            
                    
            addFoodArr = Array.from(document.getElementById('additional_food'))
            breedArr = Array.from(breed) 
            breedFoodArr = Array.from(breedFood)           
            animalName.value = selectedAnimal.animal_name            
            document.getElementById('selected_animal_id').value = selectedAnimal.personal_id
            breedArr.forEach(x => {                        
                if(parseInt(x.value) === parseInt(selectedAnimal.breed.id)){                           
                    x.style.display = 'block'
                    x.selected = true
                }                        
            })          
            breedFoodArr.forEach(x => {                        
                if(parseInt(x.value) === parseInt(selectedAnimal.breed.id)){                           
                    x.style.display = 'block'
                    x.selected = true
                }                        
            })          
            addFoodArr.forEach(x => {  
                if(selectedAnimal.additional_foods.length > 0){                   
                    if(parseInt(x.value) === parseInt(selectedAnimal.additional_foods[0].id)){                           
                        x.style.display = 'block'
                        x.selected = true
                    }                        
                }                       
            })          
            speciesArr.forEach(x => {                                      
                if(x.innerText === selectedAnimal.breed.species){ 
                                              
                    x.style.display = 'block'
                    x.selected = true
                }                        
            })          
            document.getElementById('weight').value = Math.round(selectedAnimal.weight)
            document.getElementById('image_url').value = selectedAnimal.image_url            
            document.getElementById('notes').value = selectedAnimal.notes ? selectedAnimal.notes : ''            
            
            const currCageId = await getAnimalCage( selectedAnimal.id)
            
            filterHabitatsByBreed(selectedAnimal.breed.id, currCageId)            
            
            formDiv.style.display = 'block'; 
            cgTblDiv.style.display = 'block'; 
            updateBtn.disabled = false 
                             
        }

        async function getAnimalCage(animal_id){  
            
            res = await fetch(`/api/cages?animal_id=${animal_id}`)
            const data = await res.json()
            if(data.length > 0){
                return data[0].inventory_id               
            }else{
                return null
            }       
            
        }       
        
        const handleCageClick = (coordinates) => {
            console.log(cageTable.getCell(coordinates.row, 0).innerText)
            document.getElementById('selected_cage_id').value = cageTable.getCell(coordinates.row, 0).innerText
            
        }

        const submit = () =>{
            console.log('submit clicked')
            document.getElementById('wtf_submit').click()
        }
        
       
    </script>

{% endblock %}