{% extends "base.html" %}

{% import 'bootstrap5/form.html' as wtf %}


{% block app_content %}
             
    <div class='col-md-12'>  
        <h1>{{header|safe}}</h1> 
        <br>
        <hr>
        <br>
        <label for="cage_table" id="cage-table-lbl">Available cages for selected breed</label> 
        <div id="cage_table" class="hot handsontable htRowHeaders htColumnHeaders" style="height: auto; overflow: auto; width: auto;" ></div>

        <div id="form-container">            
            {{ wtf.render_form(form) }}
        </div>
        <input class="btn  btn-primary w-100" type="submit" value="Update" id="save-cage-btn" disabled="true"  onclick="submit()" > 
        <br>
        <br>
    </div> 
    
{% endblock %}
{% block user_script %}
    <script>
        document.getElementById('height').onchange = () =>{
            
            document.getElementById('save-cage-btn').disabled = false
        }
        const submit = () =>{
            console.log('submit clicked')
                   
            document.getElementById('wtf_submit').click()
        }

    </script>       


{% endblock %}